.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 60px;
  margin-bottom: 60px;
}

.pagination button {
  padding: 0.5rem 0.75rem;
  background: #fff;
  color: #333;
  transition: background 0.2s, color 0.2s;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #b92f2c;
  color: #fff;
}

.pagination button.active {
  background-color: #b92f2c;
  color: #fff;
  border-color: #b92f2c;
}

.pagination .dots {
  padding: 0 0.5rem;
  color: #000000;
}

.pagination-icon {
  width: 20px;
  height: 20px;
}
