<div class="backdrop-about-modal js-about-modal">
  <div class="about-modal">
    <div id="swiper-modal" class="swiper-modal-own">
      <h2 class="about-modal__title">DreamTeam</h2>
      <button class="about-modal__btn js-close-about-modal" type="button">
        <svg class="about-modal__btn-icon" width="30" height="30">
          <use href="./images/sprite.svg#card-btn-close"></use>
        </svg>
      </button>
      <ul class="about-modal__list swiper-wrapper">
        <li class="about-modal__item swiper-slide">
          <div class="about-modal__img">
            <img src="./images/alexandra.jpg" alt="Alexandra" />
          </div>
          <div class="about-modal__text">
            <p class="about-modal__text--name">Alexandra</p>
            <p class="about-modal__text--position">Team lead</p>
            <a href="https://github.com/AlexandraMdv">
              <svg class="icon-github" width="60" height="60">
                <use href="./images/sprite.svg#icongithub">
                </use>
              </svg>
          </a>
        </div>
      </li>
      <li class="about-modal__item swiper-slide">
        <div class="about-modal__img">
          <img src="./images/tatiana.jpg" alt="Tatiana" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Tatiana</p>
          <p class="about-modal__text--position">Scrum Master</p>
          <a href="https://github.com/tania1103"
            > <svg class="icon-github" width="60" height="60">
              <use href="./images/sprite.svg#icongithub">
              </use>
            </svg>

              </a>
        </div>
      </li>
      <li class="about-modal__item swiper-slide">
        <div class="about-modal__img">
          <img src="./images/gabriel.jpg" alt="Gabriel" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Gabriel</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/DutuGabriel"
            > <svg class="icon-github" width="60" height="60">
              <use href="./images/sprite.svg#icongithub">
              </use>
            </svg>
              </a>
        </div>
      </li>
      <li class="about-modal__item swiper-slide">
        <div class="about-modal__img">
          <img src="./images/dragostin.jpg" alt="Dragostin" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Dragostin</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/Dragostin99"
            > <svg class="icon-github" width="60" height="60">
              <use href="./images/sprite.svg#icongithub">
              </use>
            </svg>

            </a>
        </div>
      </li>
      <li class="about-modal__item swiper-slide">
        <div class="about-modal__img">
          <img src="./images/minodora.jpg" alt="Minodora" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Minodora</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/minodoragradinariu">
            <svg class="icon-github" width="60" height="60">
              <use href="./images/sprite.svg#icongithub">
              </use>
            </svg>

              </a>
        </div>
      </li>
      <li class="about-modal__item swiper-slide">
        <div class="about-modal__img">
          <img src="./images/andreea.jpg" alt="Andreea" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Andreea</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/Gyongyie"
            > <svg class="icon-github" width="60" height="60">
              <use href="./images/sprite.svg#icongithub">
              </use>
            </svg>

          </a>
        </div>
      </li>
      <li class="about-modal__item swiper-slide">
        <div class="about-modal__img">
          <img src="./images/darius.jpg" alt="Darius" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Darius</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/CosteaDarius"
            > <svg class="icon-github" width="60" height="60">
              <use href="./images/sprite.svg#icongithub">
              </use>
            </svg>
           </a>
        </div>
      </li>
      <li class="about-modal__item swiper-slide">
        <div class="about-modal__img">
          <img src="./images/stefan.jpg" alt="Stefan" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Stefan</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/Stemlc211"
            > <svg class="icon-github" width="60" height="60">
              <use href="./images/sprite.svg#icongithub">
              </use>
            </svg>

           </a>
        </div>
      </li>
    </ul>
    <!-- pagination -->
    <div class="swiper-pagination swiper-pag"></div>
    <!-- navigation buttons -->
    <div class="swiper-button-prev swiper-btn"></div>
    <div class="swiper-button-next swiper-btn"></div>
    <!-- need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>
</div>